Repository freeCodeCamp-2025-Summer-Hackathon/lime-variable, pull requests merged in 2025-07, with the labels that each got.

#30 feat: update the data model
  backend/prisma/schema.prisma
Labels: backend

#42 chore: add backend pr template
  .github/ISSUE_TEMPLATE/PULL_REQUEST_TEMPLATE/backend_pr.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report_team.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
  .github/ISSUE_TEMPLATE/task.yaml
Labels: prep-work, backend

#49 Feature/intsall lint staged
  backend/.husky/pre-commit
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/auth.dto.ts
  backend/src/auth/dto/index.ts
  backend/src/main.ts
  backend/src/prisma/prisma.module.ts
  backend/src/prisma/prisma.service.ts
Labels: backend, git-workflow

#78 BE-{Feature}: Add Submit and Approval and Assign Endpoint to Chores
  backend/prisma/schema.prisma
  backend/src/auth/interfaces/authenticated-user.interface.ts
  backend/src/auth/strategy/jwt.strategy.ts
  backend/src/chores/chores.controller.ts
  backend/src/chores/chores.service.ts
  backend/src/chores/dto/approve-chore.dto.ts
  backend/src/chores/dto/assign-chore.dto.ts
  backend/src/chores/dto/create-chore.dto.ts
  backend/src/prisma/prisma.service.ts
  backend/test/app.e2e-spec.ts
  backend/test/chores/chores.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/test/setup.ts
  backend/tsconfig.json
Labels: backend, endpoint

#98 feat: fetch family memebers in tasks model & hit create chore endpoint
  frontend/app/(dashboards)/parent-dashboard/page.tsx
  frontend/app/components/task-form.tsx
  frontend/app/components/tasksWidget.tsx
Labels: parent dashboard, frontend

#104 Update chore model to return chores assigned to a child
  backend/src/chores/chores.controller.ts
  backend/src/chores/chores.service.ts
Labels: backend

#105 Add start endpoint to api
  backend/prisma/migrations/20250728022057_add_in_progress_status/migration.sql
  backend/prisma/schema.prisma
  backend/src/chores/chores.controller.ts
  backend/src/chores/chores.service.ts
  backend/src/chores/dto/start-chore.dto.ts
Labels: backend
